@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}

main {
   display: flex;
}

.containerimg {
   width: 56vw;
   height: 100vh;
   background-image: url(assets/back.png);
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   font-size: 2em;
   text-indent: 30px;
}

.containerloginpai {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50vw;
}

.containerlogin {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 60vh;
   padding-right: 20px;
}

a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

p {
   max-width: 300px;
   color: rgb(179, 179, 179);
   margin-bottom: 40px;
}

label {
   max-width: 300px;
   color: rgb(179, 179, 179);
}

h2 {
   font-size: 2.5em;
   color: rgb(32, 32, 32);
   margin-bottom: 20px;
}

h3 {
   margin-bottom: 5px;
   font-size: 1.5em;
   color: rgb(179, 179, 179);
}

.entrada {
   width: 100%;
   text-align: left;
   padding: 10px;
   border-radius: 5px;
   display: block;
   font-size: 1em;
   border: 1px solid rgb(179, 179, 179);
   margin-bottom: 30px;
}
.login {
   margin-bottom: 30px;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 1em;
   border-radius: 8px;
   padding: 10px;
   width: 100%;
   color:#ffffff;
   background-color: #A05BFF;
   outline: none;
   border: none;
   cursor:pointer;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
   transition: .4s;

}
   
.login:hover {
   color:#ffffff;
   background-color: #6a3bab;
   transform: scale(1.01);
   padding-left: 15px;
   padding-right: 15px;
}

.register_ancora {
   text-align: center;
}

.register_ancora a {
   color: #A05BFF;
   font-weight: bolder;
}
.senha-container {
   position: relative;
}

.olho-icon {
   cursor: pointer;
   position: absolute;
   right: 0; /* Ajuste a distância da borda direita conforme necessário */
   bottom: 70%;
   transform: translateY(50%);
   width: 20px; /* Ajuste a largura conforme necessário */
   height: 20px; /* Ajuste a altura conforme necessário */
}

.lembrarlogin {
   display: flex; /* Alinha os itens em linha */
   justify-content: start; /* Garante o alinhamento ao início */
   align-items: center; /* Centraliza verticalmente os itens */
   gap: 10px;
}

#erro {
   display: block;
   width: 100%;
   color: red;
   text-align: center;
}

.checkbox-personalizado {
   appearance: none; /* Remove o estilo padrão */
   width: 20px;
   height: 20px;
   border: 2px solid #A05BFF; /* Cor da borda */
   border-radius: 4px; /* Bordas arredondadas */
   background-color: #fff; /* Fundo inicial */
   cursor: pointer;
   transition: background-color 0.3s, box-shadow 0.3s;
   margin: 0;
   padding: 0;
}

   /* Estado selecionado */
.checkbox-personalizado:checked {
   background-color: #A05BFF; /* Cor ao selecionar */
   border-color: #A05BFF; /* Mantém a borda da mesma cor */
   box-shadow: 0 0 5px #A05BFF; /* Efeito de brilho */
}

@media (max-width:830px) {
   .containerimg {
      display: none;
   }
   .containerloginpai {
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
   }
}